@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	user-select: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

h1 {
	font-family: "Londrina Outline", cursive;
	font-size: 5rem;
	margin-bottom: 3rem;
}

.calculator--box {
	height: 950px;
	width: 600px;
	border: 3px solid black;
	border-radius: 10px;
}

.display {
	width: 550px;
	height: 100px;
	border: 3px solid black;
	margin: 20px auto;
	font-size: 50px;
	display: flex;
	justify-content: end;
	line-height: 120px;
	padding: 0px 15px;
}

.mini {
	width: 250px;
	height: 50px;
	border: 3px solid black;
	margin-right: 0px;
	margin-left: 54%;
	margin-bottom: 0px;
	margin-top: 15px;
	font-size: 30px;
	display: flex;
	justify-content: end;
	padding: 0px 5px;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.buttons-layout {
	height: 725px;
	width: 550px;
	border: 3px solid black;
	margin: 0px auto;
}

.special-layout {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.btn {
	height: 80px;
	border: 3px solid black;
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-size: 1.5rem;
	margin: 5px 5px;
	line-height: 80px;
	cursor: pointer;
}

.clear:hover {
	background-color: red;
}

.del:hover {
	background-color: cyan;
}

.digits-layout {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.digits {
	height: 95px;
	border: 3px solid black;
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-size: 2rem;
	margin: 5px 5px;
	line-height: 95px;
	cursor: pointer;
}

.operators {
	height: 95px;
	border: 3px solid black;
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-size: 2rem;
	margin: 5px 5px;
	line-height: 95px;
	cursor: pointer;
}

.evaluate {
	height: 95px;
	border: 3px solid black;
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-size: 2rem;
	margin: 5px 5px;
	line-height: 95px;
	cursor: pointer;
}
